<!-- PARA LOS ESTILOS -->
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Error en el Pago - Transactiva</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>¡Ocurrió un error!</h1>
      <p>
        No fue posible procesar tu pago. Por favor, verifica tus datos e intenta
        nuevamente.
      </p>
      <a class="btn" href="/payment-Form ">Reintentar Pago</a>
    </div>
  </body>
</html>
