<!-- PARA LOS ESTILOS -->
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Pago Exitoso - Transactiva</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>¡Pago Realizado con Éxito!</h1>
      <p><%= msg %></p>
      <p>Correo: <%= email %></p>
      <p>Monto: <%= amount %></p>
      <p>Método de pago: <%= paymentMethod %></p>
      <br />
      <p>Gracias por tu pago. Se ha registrado correctamente.</p>
      <a class="btn" href="/payment-Form ">Volver al inicio</a>
    </div>
  </body>
</html>
