<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Pago exitoso</title>
  </head>
  <body>
    <h1>¡Pago realizado con éxito!</h1>
    <p><%= msg %></p>
    <p>Correo: <%= email %></p>
    <p>Monto: <%= amount %></p>
    <p>Método de pago: <%= paymentMethod %></p>
    <br />
    <a href="/payment-Form">Volver al inicio</a>
  </body>
</html>
